<section class="guitarras">
    @for( instrumento of instrumentos; track instrumento.id ) {
        <article class="ficha-contenedor">
            <div class="imagen-contenedor">
                <img appNoImagen [src]="instrumento.urlImage" [alt]="instrumento.fabricante">
            </div>

            <div class="datos-contenedor">
                <div class="datos-generales">
                    <div class="nombre-guitarra">
                        <span class="titular-fabricante">{{instrumento.fabricante}}</span>
                        <span class="modelo">{{instrumento.modelo}}</span>
                    </div>

                    <div class="contenedor-likes">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span class="numero-likes">4</span>
                    </div>

                    <ul class="caracteristicas-principales">
                        @for(descripcion of instrumento.descripcion; track descripcion) {
                            <li>{{descripcion}}</li>
                        }
                    </ul>
                </div>

                <div class="etiqueta-stock">
                    <p [ngClass]="{
                        'verde': instrumento.stock > 3, 
                        'amarillo': instrumento.stock > 0 && instrumento.stock <= 3,
                        'rojo': instrumento.stock <= 0
                    }">
                        {{instrumento.stock | stock}}
                    </p>
                </div>
            </div>
            <div class="iconos-precio-contenedor">

                    <p class="precio">{{instrumento.precio | euros}}</p>

                    <div class="contenedor-iconos">
                        <i class="fa-regular fa-paste"></i>
                        <i  [ngClass]="{
                                'fa-solid': likes[instrumento.id - 1],
                                'fa-regular': !likes[instrumento.id - 1],
                                'fa-heart': true
                            }" 
                            (click)="toggleLike(instrumento.id - 1)"
                        ></i>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>

                </div>
        </article>
    }
</section>
